/* HTML Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	line-height: 1;
  min-width: 300px;
  padding: 0;
  margin: 0;
  width:100%;
  background: #0d1013;
  color: #e8eeed;
  font-size: 16px;
}

code, pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background: #1a1c1e;
  padding: 0 0.4em;
  border-radius: 0.3em;
  overflow: hidden;
}
code {
	display:inline-block;
}
pre {
  padding: 0.5em 0.75em;
  margin: 0.5em 0;
}

.icon-img {
  opacity: 0.7;
  width: 24px;
  height: 24px;
  padding-right: 1em;
  transition: opacity 0.15s;
}
.icon-img-big {
  opacity: 0.9;
	position:absolute;
	width: 42px;
	height: 42px;
	left: 0;
  transition: opacity 0.15s;
}
.icon-img:hover, p:hover .icon-img-big {
  opacity: 1;
}

a:link {
  color: #4cc0f4;
  text-decoration: none;
  transition: color 0.1s;
}
a:hover {
  color: #6ccff4;
}
a:visited {
  color: #4c9fb4;
}
a:active {
  color: #2fafdf;
}
b, strong {
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: #000 1px 1px 0;
  color: #f7f9ff;
}

header {
	position:relative;
  background: #349752;
  box-shadow: 0px 0px 8px #000;
	z-index: 10;
}

header nav {
	position:relative;
	max-width:1160px;
	margin: 0 auto;
	padding: 0.5em 0;
}

header nav aside {
  position:absolute;
  right:1em;
  top:1.3em;
  display:inline;
}
header nav .icon {
  position:absolute;
  left: 0.25em;
  top: 0.3em;
}
header nav p {
	position: relative;
	display: inline-block;
  letter-spacing: 1px;
	font: 700 small-caps 1.5rem "Open Sans", Helvetica, Arial, sans-serif;
  padding: 0 0.5em 0 2em;
  line-height: 1.7em;
  text-shadow: 2px 2px #363;
  border-radius: 0.4em;
  border: 1px transparent solid;
  box-shadow: 0px 0px 1px transparent;
}

header nav ul {
  position: relative;
	display: inline-block;
	text-align: center;
  padding-left: 5em;
  line-height:230%;
}

header nav ul li {
	position: relative;
	display: inline-block;
	padding: 0.2em;
}

header nav ul li p:hover {
	background: #39a759;
	border: 1px #20bc50 solid;
  box-shadow: 0px 0px 1px #030;
}

header nav ul li a:link, header nav ul li a:visited {
  color: #fff;
  text-decoration: none;
}

h2, h3, h4 {
	font: 700 2rem "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    letter-spacing: 2px;
	padding-left: 0.5em;
	color: #f7f9ff;
	margin-top: 0.75em;
	text-shadow: 1px 1px #003;
}

h3, h4 {
	font: 700 1.8rem "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}
h4:target, main section dl dd p:target {
	color:#eeb;
	font-weight: 700;
}
main section dl dd p {
	display: inline-block;
	font: 500 1em "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	letter-spacing: 0;
	text-shadow: 1px 1px #003;
	padding: 0.1em 0.5em 0.1em 0.5em;
	margin: 0 0.5em 0 0;
	background: #1a1c1e;
	border-radius: 0.4em;
}

main section dl dd span {
	font: 0.8em Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
	line-height: 1.2em;
	color: #d5d8dc;
	padding-right: 0.7em;
}
main section dl dd {
	display: block;
	margin-top: 0.8em;
}

main {
	display: flex;
    align-items: stretch;
	max-width:1160px;
	margin: 0 auto;
	font: 0.9rem "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

main section {
	border-left: 1px #60656f solid;
	padding: 0 0 1em 1em;
  overflow:hidden;
}
main p {
	display:block;
	margin-top: 0.8em;
}
main i {
  font-style: italic;
}

main nav {
	padding: 1em 0.5em 1em 0;
}
main nav ul li {
	font: 700 1.2rem "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	letter-spacing: 1px;
}
main nav ul li a {
	display: block;
	padding: 0.25em 0.75em;
	border: 1px solid transparent;
	box-shadow: 0px 0px 1px transparent;
}

main nav ul .target a:link, main ul .target a:visited {
	color: #bbc;
}
main nav ul li a:hover {
	background: #101316;
	border-radius: 0.5em;
	border: 1px solid #40454f;
  box-shadow: 0 0 1px #002;
}
main nav ul li a:link, main ul li a:visited {
	color:#fff;
}
.wrapper {
  background: #262a2b;
	box-shadow: 0px 0px 5px #000;
}
footer {
	padding: 1em 0;
	text-align: center;
	color: #abadaf;
}

main nav label::before, main nav label::after {
  content: "\25bc";
}
main nav input:checked~label::before, main nav input:checked~label::after {
  content: "\25b2";
}
main nav input {
  display: none;
}
main nav label {
  position: relative;
  display: none;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size:120%;
  letter-spacing: 1px;
}
main nav input:checked~ul.submenu {
  max-height: inherit;
}

@media (max-width: 1000px) {
header nav ul li p span {
  display:none;
}
}

@media (max-width: 640px) {
header nav .icon { 
  left:-28px;
}
header nav ul {
  padding-left: 32px;
}
main nav {
  position:absolute;
  background: #262a2b;
	box-shadow: 0px 0px 7px #000;
  border-radius: 0 0 9px 0;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  user-select: none;
}
main nav ul.submenu {
  max-height: 0;
  overflow: hidden;
}
main nav label {
  display:block;
}
main section {
  margin-top: 2.75em;
}
@media (max-width: 560px) {
header nav aside {
  display: none;
}
}
@media (max-width: 435px) {
header nav ul li {
  padding-left: 0;
  padding-right: 0;
  font-size: 80%;
}
}